body{
    margin: 0;
    padding: 0;
}
.big1{
    position: absolute;
    width: 50%;
    height: 50vh;
    background-color: #ccc;
}
.big2{
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 50vh;
    background-color: #e86f88;
}

.big3{
    position:absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 50vh;
    background-color:#79badb;
}
.big4{
   position: absolute;
   bottom: 0;
   right: 0;
    width: 50%;
    height: 50vh;
    background-color:#a2dbb1;
}

.small-box{
    height: 50px;
    width: 50px;
    border: 2px solid rgb(252, 250, 250);

}

#sm1{
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
}

#sm2{
    background-color: orange;
    position: absolute;
    top: 0;
    right: 0;
}

#sm3{
    background-color:steelblue ;
    position: absolute;
    bottom: 0;
    left: 0;
}

#sm4{
    background-color:blue;
    position: absolute;
    top: 0;
    right: 0;
}

#sm5{
    background-color:purple;
    position: absolute;
   top: 0;
   left: 0;
}

#sm6{
    background-color: orange;
    position: absolute;
    bottom: 0;
    right: 0;
}

#sm7{
    background-color: gray;
    position: absolute;
    bottom: 0;
    left: 0;
}

#sm8{
    background-color: red;
    position: absolute ;
    bottom: 0;
    right: 0;
}
